<div class="page-header">
  <h3> Userstories</h3>
</div>

<b>Aantal Userstories: </b><%= Userstory.count %>


<br><br>

<% @userstories.each do |u| %>
<div class="col-xs-6 form-group">
	<tabel class="table table-hover">
		<tbody>
			<tr>
				<td>
					<%= u.content %>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<%= collection_select(:sprint, :sprint_id, Userstory.all, :id, :ranking) %>

	<%= link_to "edit", edit_userstory_path(u), :class => "btn-sm btn-primary" %>
	<%= link_to "verwijder", (u), :method => :delete, :class => "btn-sm btn-danger" %>

<br/><br/>

<% end %>
<<<<<<< HEAD
<div>
<%= link_to "nieuw", new_userstory_path, :class => "btn btn-info" %>
=======
<div> 
<%= link_to "Maak een nieuwe userstory", new_userstory_path, :class => "btn btn-info" %>
>>>>>>> 49684694028c6aa3ed9fbe4932147c4326653692
</div>